.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
/LocalMCPTwoProducerExample.xcodeproj
/test-results
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.build-swift60
